body,
html {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
  font-family: "PingFang SC","STHeitiSC","Helvetica",arial,sans-serif;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin border-1px($color) {
  position: relative;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: ' ';
  }
}
@mixin border-none() {
  &:after {
    display: none!important;
  }
}
@mixin bg-image($url) {
  background-image: url($url+"@2x.png");
  @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3) {
    background-image: url($url+"@3x.png");
  }
}
@mixin icon-with-text($icSize,$icIdx,$icTxMg) {
  .icon {
    display: inline-block;
    width: $icSize;
    height: $icSize;
    background-size: $icSize $icSize;
    margin-right: $icTxMg;
    background-repeat: no-repeat;

    &.decrease {
      @include bg-image( 'decrease_#{$icIdx}');
    }

    &.discount {
      @include bg-image( 'discount_#{$icIdx}');
    }

    &.guarantee {
      @include bg-image( 'guarantee_#{$icIdx}');
    }

    &.invoice {
      @include bg-image( 'invoice_#{$icIdx}');
    }

    &.special {
      @include bg-image( 'special_#{$icIdx}');
    }
  }
}
@mixin star-style($name,$wh,$mg) {
  .star-#{$name} {
    width: $wh;
    height: $wh;
    margin-right: $mg;
    background-size: $wh $wh;
    background-repeat: no-repeat;

    &:last-child {
      margin-right: 0;
    }

    &.on {
      @include bg-image( 'star#{$name}_on');
    }

    &.half {
      @include bg-image( 'star#{$name}_half');
    }

    &.off {
      @include bg-image( 'star#{$name}_off');
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px {
    &:after {
      -webkit-transform: scaleY(.7);
      transform: scaleY(.7);
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px {
    &:after {
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
    }
  }
}
