* {
    margin: 0;
    padding: 0;
}

%full-wh {
    width: 100%;
    height: 100%;
}

%c-white {
    color: white;
}

%a-reset {
    text-decoration: none;
}

%btn-reset {
    outline: none;
    background: none;
    border: none;
}
@mixin hover-style($opa: .9, $weight: 600) {
    &:hover {
        opacity: $opa;
        font-weight: $weight;
    }
}
@mixin font-size($size:1em) {
    font-size: $size;
}

body,
html {
    @extend %full-wh;
    @extend %c-white;
}

body {
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    flex-wrap: wrap;

    & > div {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .degree {
        @include font-size(6em);

        button {
            @extend %btn-reset;
            @include font-size;
            @extend %c-white;
            cursor: pointer;
            @include hover-style(.8);
        }
    }

    .city {
        @include font-size(2em);
    }

    .weather {
        @include font-size(3em);
    }

    .date {
        @include font-size(1.5em);
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 2em 0;

    a {
        @extend %a-reset;
        @extend %c-white;
        font-weight: 500;
        @include hover-style;
    }
}
