{% extends "base.html" %} {% block main %}
<div class="login-panel row-flex-container">
  <p class="login-msg">{% if signinFailed %}  用户名或密码错误 {% else %} 登录以进入聊天室。{% endif %}</p>

  <div class="login-content">
    <form action="/signin" method="post" class="row-flex-container">
      <div class="form-group">
        <label class="full-width-flex">用户名</label>
        <input class="full-width-flex login-input" type="text" name="username" value="{{ username }}">
        <label class="full-width-flex">密码</label>
        <input class="full-width-flex login-input" type="password" name="password">
      </div>
      <button type="submit" class="btn full-width-flex">登录</button>
      <a class="full-width-flex" href="/signup">注册</a>
    </form>
  </div>
</div>
{% endblock %}
